{% extends 'inicio/base.html' %}

{% load static %}

{% block content%}

<title>Categorías</title>

<section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="image-container intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'img/deporte.jpg' %}" alt="" style="width: 50%;">
        <div class="intro-alterb-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <a class="section-heading-upper" href="/%2F1/">Sección de Deportes!</a>
          </h2>
          <div style="text-align: left; font-size: 1em;">
            <p class="section-heading-upper" style="margin-right: 50px;">El deporte es todo tipo de actividades físicas que, mediante una participación, organizada o de otro tipo, tengan por finalidad la expresión o la mejora de la condición física, en desarrollo de las relaciones sociales o el logro de resultados en competiciones de todos los niveles.</p>
            <p class="section-heading-upper" style="margin-right: 50px;">Por ejemplo: Fútbol, Basquetball, Tenis, Volleyball, Rugby, Padel, Natación, Etc.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="image-container intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'img/noticias.jpg' %}" alt="" style="width: 50%;">
        <div class="intro-alterb-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <a class="section-heading-upper" href="/%2F3/">Sección de Noticias!</a>
          </h2>
          <div style="text-align: left; font-size: 1em;">
            <p class="section-heading-upper" style="margin-right: 50px;">Una noticia es un relato o escrito sobre un hecho actual y de interés público, es un texto objetivo y difundido a través de los diversos medios de comunicación social.</p>
            <p class="section-heading-upper" style="margin-right: 50px;">Pueden ser de diversos temas, por ejemplo: Políticas, Deportivas, Económicas, Culturales, Sociales, Policiales, Científicas, etc</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="image-container intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'img/economia.jpg' %}" alt="" style="width: 50%;">
        <div class="intro-alterb-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <a class="section-heading-upper" href="/%2F4/">Sección de Economia!</a>
          </h2>
          <div style="text-align: left; font-size: 1em;">
            <p class="section-heading-upper" style="margin-right: 50px;">Una noticia es un relato o escrito sobre un hecho actual y de interés público, es un texto objetivo y difundido a través de los diversos medios de comunicación social.</p>
            <p class="section-heading-upper" style="margin-right: 50px;">Pueden ser de diversos temas, por ejemplo: Políticas, Deportivas, Económicas, Culturales, Sociales, Policiales, Científicas, etc</p>
          </div>
        </div>
      </div>
    </div>
  </section>



  

{% endblock %}