{% extends 'inicio/base.html' %}

{% load static %}

{% block content %}

  <title>Contacto</title>
  <section class="page-section clearfix">
    <div class="container">
        <div class="intro">
                <img class="intro-alter-img img-fluid  mb-lg-0 rounded"  src="{% static 'img/contacto.png' %}" style="width: 50%;padding-right: 55px; padding-bottom: 100px;" alt="">
                <div class="intro-alter-text left-0 text-center bg-faded p-5 rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-alter-upper">Contacto con programadores de la página</span>
                        <span class="section-heading-lower">Puede contactar mediante los siguientes medios:</span>
                    </h2>
                    <div>
                        <p class="mb-3">Gmail : ermac715@gmail.com</p>
                        <p class="mb-3">Instagram: Jerez_franco08</p>
                        <p class="mb-3">Whatsapp: 3644-381929</p>
                        <p class="mb-3">Facebook: Carlos Jerez</p>
                </div>
            </div>       
        </div>
    </div>
  </section>


{% endblock %}